
<div class="container">
  <h1>Welcome to our Pseudo-Bitly Site!</h1>

<form name="input" action="/urls" method="post">
<input type="text" name="original" placeholder="enter your url here">
  <input type="submit" value="Get Short Url">
</form>

<%if @url && !@url.valid?%>
  <%@url.errors.full_messages.each do |message|%>
    <% message = "Invalid URL" if message = "Original is invalid" %>
    <p class="error"><%=message%></p>
  <%end%>
<%end%>
  
</div>
